@import 'mixin';
@import 'variables';
/* The footer */
footer{
    @include desktop{
        position: absolute;
        bottom : 10px;
    }
}
.credit {
    color: $footer-color;
    margin-top: 50px;
    display: flex;
    justify-content: center;

    @include tablet {
        margin-top: 50px;
    }

    @include desktop {
        justify-content: flex-start;
    }
}