@mixin font {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
 }
 @mixin desktop {
    @media (min-width: $desktop-width) {
      @content;
    }
  }
@mixin tablet {
    @media (min-width: $tablet-width) {
      @content;
    }
  }